$fonts: "Roboto", Arial, sans-serif;

.app {
    font-family: $fonts;
    font-size: 1em;
}

.app-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.app-body-main {
    width: 90%;
    margin: 0 0 0 25px;
}