// @import 'Component';

$button-background-color: rgba(0, 0, 0, 0);
$button-background-hover: rgba(0, 0, 0, 0.12);
$button-background-click: rgba(0, 0, 0, 0.24);
$tooltip-background-color: rgba(0, 0, 0, 0.7);
$img-size: 28px;
$padding: 10px;

.round-button {
    position: relative;
    width: fit-content;
    margin: 0;
    padding: 0;

    button {
        background-color: $button-background-color;
        border: none;
        width: $img-size + $padding;
        height: $img-size + $padding;
        padding: 0;
        border-radius: $img-size + $padding;
        cursor: pointer;
        transition: background-color 0.25s;

        img {
            width: $img-size;
            height: $img-size;
            object-fit: contain;
            padding: 0;
            margin: 0;
        }
    }

    p {
        display: none;
    }

    button:hover {
        background-color: $button-background-hover;

        ~ p {
            display: block;
            position: absolute;
            width: fit-content;
            margin: 3px 0 0 0;
            padding: 0;
            left: 0;
            top: 100%;

            span {
                margin: 0 0 0 calc(($img-size + $padding) - 50%);
                padding: 3px;
                border-radius: 2px;
                font-size: 10pt;
                font-weight: 500;
                white-space: nowrap;
                color: #ffffff;
                background-color: $tooltip-background-color;
            }
        }
    }
    
    button:active {
        background-color: $button-background-click;
        transition: background-color 0s;
    }

}